.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #F5F8FF;
}

  /* navbar & banner section  */

.header-content{
  background-image: url('../Assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
  color: #4E47FF;
  font-size: 34px;

}
nav ul li{
    list-style: none;
    margin: 50px;
}
nav li a {
  text-decoration: none;
    font-size: 20px;
}

.btn-primary{
    background-color:#4E47FF;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 36px;
    border-radius: 10px;
    text-decoration: none;
}
.btn-primary:hover {
  background: #2bc7cf;
}
.banner {
  text-align: center;
  font-size: 65px;
  padding: 80px 20px;
  color: #252432;
  text-decoration: none;
}
.banner-container {
  font-size: 36px;
  margin-bottom: 10px;
}
/* Action Section */
.action{
  padding: 0 145px;
}
.action-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 116px 145px ;
}
.action-subtitle{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  margin-bottom: 23px;
}
.action-text {
  font-size: 24px;
  width: 517px;
  color: #252432;
  margin-bottom: 35px;
  
}
img{
  border-radius: 48px ;
}
.action-image {
 max-width: 100%;
  height: auto; 
}

/* Users Section */
.users {
  background:  #e0e7ff;
  text-align: center;
  border-radius: 24px;
  width: 1140px;
  margin: 116px auto;
  padding: 100px 150px;
  justify-content: center;
  
}
.users h3 {
  margin-bottom: 40px;
}
.user-data{
  display: flex;
  justify-content: center;
  gap: 158px;
}
.user-data div h2 {
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}
.user-data div p{
  font-size: 20px;
  color: #000000;
  font-weight: 120px;
  text-align: center;
  margin-top: auto;
}

/* feedback */
.feedback-container{
  width: 1140px;
  height: 342px;
  gap: 50px;
  text-align: center;
  padding: 137px 150px;
  margin: 0 auto;
  background-color: white;
  
}
.feedback-container h3 {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-top: auto;
  margin-bottom: 50px;
}
.feedback-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  text-align: left;
  justify-content: left;
  
}
.feedback {
  background: white;
  padding: 24px;
  border-radius: 14px;
  gap: 24px;
  min-width: 280px;
  max-width: 32%;
  
}
.stars {
  color: #FFB805;
  font-size: 20px;
  margin-bottom: 24px;
}
.feedback-title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: auto;
}
.feedback-sub-title {
  font-style: italic;
  color: #ccc;
  margin-bottom: 15px;
}
.reviewer-info {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
  justify-content: left;
}
.reviewer-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.reviewer-info input[type="text"] {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 45%;
}

/* Focus Section */

.focus-section {
  width: 1140px;
  padding: 80px 150px;
  text-align: center;
  background: #FFFFFF;
  margin: 0 auto;
  border-radius: 14px;
  margin-top: 138px;
  margin-bottom: 90px;
}
.focus-content {
  margin-bottom: 20px;
}
.focus-content h2 {
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.focus-content p {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  margin-bottom: 30px;
}

.focus-image img {
  max-width: 100%;
  height: auto;
  border-radius: 48px;
  margin-top: 20px;
}

/* Contact */
.contact-container{
  display: flex;
  width: 1140px;
  gap: 115px;
  color:#FFFFFF;
  padding: 80px 150px;
  margin: 0 auto;
  justify-content: space-between;
 
}
.contact-left {
  font-size: 65px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.contact-right {
  width: 497px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  color: black;
  font-weight: 600;
}
.contact-right label {
  margin: 10px 0 5px;
}
.contact-right input,
.contact-right textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.contact-right textarea {
  height: 100px;
  resize: vertical;
}

/* Footer */
.footer{
  background: #fff;
  padding: 40px 20px;
  text-align: center;
  border-top: 1px solid #eee;
}
.footer h1 {
  color: #4f46e5;
  font-size: 80px;
}
.text-footer{
  color: #8987A1;
  font-size: 25px;
}

.footer-links {
  margin-top: 15px;
}
.footer-links a {
  font-size: 20px;
  margin: 0 10px;
  color: #8987A1;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}


