.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  /* navbar & banner section  */
}
.header-content{
  background-image: url('../Assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
  color: #4E47FF;
  font-size: 34px;

}
nav ul li{
    list-style: none;
    margin: 50px;
}
nav li a {
  text-decoration: none;
    font-size: 20px;
}

.btn-primary{
    background-color:#4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    text-decoration: none;
}
.btn-primary:hover {
  background: #2bc7cf;
}
.banner {
  text-align: center;
  font-size: 65px;
  padding: 80px 20px;
  color: #252432;
}
.banner-container {
  font-size: 36px;
  margin-bottom: 10px;
}
/* Action Section */
.action{
  padding: 0 145px;
}
.action-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 116px 145px ;
}
.action-subtitle{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  margin-bottom: 23px;
}
.action-text {
  font-size: 24px;
  color: #252432;
  margin-bottom: 35px;
  
}
img{
  border-radius: 48px ;
}
.action-image {
 max-width: 100%;
  height: auto; 
}

/* Users Section */
.users {
  background:  #e0e7ff;
  text-align: center;
  border-radius: 24px;
  width: 1140px;
  margin: 116px auto;
  padding: 100px 150px;
  justify-content: center;
  
}
.users h3 {
  margin-bottom: 40px;
}
.user-data{
  display: flex;
  justify-content: center;
  gap: 158px;
}
.user-data div h2 {
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}
.user-data div p{
  font-size: 20px;
  color: #000000;
  font-weight: 120px;
  text-align: center;
  margin-top: auto;
}